@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100vw;
    height: 100vh;
}

nav {
    height: 90px;
    width: 100%;
    background-color: #101010;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    height: calc(100% - 90px);
    width: 100%;
}

.logo-container {
    font-size: 36px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
}

/* .logo-container:hover { */
    /* color: #CE93D8; */
/* } */

.nav-container ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.nav-container ul .nav-link {
    margin-right: 20px;
    text-transform: capitalize;
    color: #fff;
    border: none;
    transition: 0.3s;
}

.nav-container ul .nav-link:hover {
    border-bottom: 1px solid white;

}

.nav-container ul .nav-link:last-child {
    margin-right: 0px;
}

main {
    height: calc(100% - 90px);
    width: 100%;
    padding: 75px 150px 75px 30px;
    background-color:#101010; 
   
}


main .main-container {
    width: 100%;
    height: 100%;
    display: flex;
}


main .main-container .main-infos-content {
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .main-container .main-infos-content .text-content {
    margin-bottom: 50px;
    margin-top: -200px;

}

main .main-container .main-infos-content .text-content h2 {
    margin-bottom: 12px;
    font-size: 36px;
    font-weight: 700;
    color: white;
}

main .main-container .main-infos-content .text-content span {
    color: #BDBDBD;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1px;
}

main .main-container .main-infos-content .button-content {
    display: flex;
    gap: 20px;
}

main .main-container .main-infos-content .button-content button {
    padding: 10px;
    border-radius: 10px;
    background-color: #151A1E;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px #050607;
    transition: .3s all ease-in-out;
}

main .main-container .main-infos-content .button-content button:hover {
    box-shadow: -4px -4px -0px -0px #050607;
    animation: shake .3s 2 linear;

}

main .main-container .main-image {
    width: 500px;
    height: 100%;
}

main .main-container .main-image img {
    width: 500px;
    height: 100%;
    border-radius: 10px;
}

main .main-container .main-image img:hover {
    border-radius: 12px;
    cursor: pointer;
}

.social-container {
    position: absolute;
    right: 20px;
    top: 40%;
}

.social-container a .social-item {
    font-size: 30px;
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    transition: .3s all ease-in-out;
    color: #151A1E;
}




.social-container a .social-item.instagram:hover {
    background-color: #e4405f;
    color: white;
}

.social-container a .social-item.twitter:hover {
    background-color: #1da1f2;
    color: white;
}

.social-container a .social-item.github:hover {
    background-color: #171515;
    color: white;
}

.social-container a .social-item.linkedin:hover {
    background-color: #0a66c2;
    color: white;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width:1050px){
    main{
        height: auto;
    }
    main .main-container .button-content{
        display: flex;
    }

    main .main-container .button-content button{
        font-size: 16px;
    }

    .main-container{
        display: flex;
        flex-direction: column;
    }
    .main-container .main-infos-content {
        margin-top: 200px;
    }
    .main-container .main-image{
        padding-top: 30px;
    }


}